/* 从 CDN 引入 HarmonyOS Sans Medium 字重 */
@font-face {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://fonts.cdnfonts.com/s/107783/HarmonyOS_Sans_Medium.woff') format('woff');
}

/* 从 CDN 引入 HarmonyOS Sans Bold 字重 */
@font-face {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.cdnfonts.com/s/107783/HarmonyOS_Sans_Bold.woff') format('woff');
}

/* 全局字体设置 */
body {
  font-family: 'HarmonyOS Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: 500;
}